.container {
  font-family: "Roboto", sans-serif;
  color: #333333;
  width: 45%;
  min-width: 450px;
}

.app-wrapper {
  padding: 15px 25px;
  margin: 0 auto;
  background-color: #edeef2;
}

.code-link a {
  text-decoration: none;
}

.code-link {
  margin: 30px auto;
  display: block;
  text-align: center;
}

.city {
  display: inline-block;
  margin: 0 17px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  box-sizing: border-box;
}

.cities {
  display: block;
  margin: 15px 0 30px 0;
  padding: 13px;
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  box-shadow: rgba(120, 128, 136, 0.175) 0px -2px 3px 1px inset;
  width: 95%;
  text-align: center;
}

.city-link {
  text-decoration: none;
  color: #333333;
}

.weather-container {
  padding: 20px 0 20px 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(120, 128, 136, 0.175) 0px -2px 3px 1px inset;
}

.toggle-switch-container {
  align-content: center;
  padding: 30px;
}

.toggle-switch {
  margin: 0;
}

.toggle-switch {
  width: 10px;
  position: relative;
}

.toggle-switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch input:checked {
  z-index: 1;
}

.toggle-switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.toggle-switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.toggle-switch label {
  color: black;
  opacity: 0.33;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-outside {
  height: 100%;
  border-radius: 17px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-inside {
  border-radius: 50%;
  background: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.switch-vertical {
  background-color: #00f;
  width: 0px;
  height: 40px;
  margin-left: 27px;
}

.switch-vertical input {
  height: 100%;
  width: 60px;
  right: 0;
  margin: 0;
}

.switch-vertical label {
  font-size: 15px;
  line-height: 22px;
  display: block;
  width: 80px;
  height: 50%;
  margin: 0;
  text-align: left;
  padding-left: 12px;
}

.switch-vertical .toggle-outside {
  background: #d8d8d8;
  position: absolute;
  width: 23px;
  height: 100%;
  right: 0;
  top: 0;
  box-shadow: rgba(255, 255, 255, 0.4) -2px -2px 3px 1px inset;
}

.switch-vertical .toggle-inside {
  height: 14px;
  left: 3px;
  top: 3px;
  width: 17px;
}

.switch-vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 3px;
}

.switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 23px;
}

.city-input,
.current-city-button {
  border-radius: 10px;
}

.current-city-button {
  margin-left: 35px;
}

.city-input {
  margin-left: 50px;
}

.search-area {
  margin: 25px 0;
}

.city-weather {
  margin-top: 50px;
}

.img-big {
  width: 380px;
  clip-path: inset(0 0 0 110px);
  margin-left: -132px;
  margin-top: -30px;
}

.current-city {
  margin-top: 40px;
}

.main-temperature,
.main-city {
  line-height: 1;
  margin-bottom: 7px;
}

.weather-details-item {
  text-decoration: none;
  display: inline-block;
  margin-right: 19px;
}

.weather-details {
  padding-left: 0;
  margin-top: 60px;
}

.main-temperature {
  font-size: 70px;
}

.main-city {
  font-size: 25px;
}

.city-link:hover {
  cursor: default;
}

.weather-description {
  display: inline-block;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.forecast-icon {
  width: 65px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.forecast-container {
  display: block;
  margin: 15px 0;
  padding: 7px;
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  box-shadow: rgba(120, 128, 136, 0.175) 0px -2px 3px 1px inset;
  width: 100%;
  text-align: center;
}

.forecast-day,
.forecast-min-temp {
  opacity: 0.8;
}

.forecast-day-wrapper {
  margin: 5px 10px;
  padding: 0 5px;
  border-right: 1px solid rgb(108, 117, 125, 0.6);
}

.img-container {
  height: 65px;
}

.forecast-day {
  margin: 0;
}
