.container {
  font-family: "Roboto", sans-serif;
  padding: 15px 25px;
  margin: 25px auto;
  width: 45%;
  min-width: 450px;
}
.city {
  margin: 30px 0;
  font-size: 3.5vmin;
}
.search {
  margin-bottom: 40px;
}
.search button {
  padding-top: 1px;
}

.city-weather {
  margin-bottom: 5px;
}
.current-weather {
  margin-bottom: 40px;
}

.day,
.temp {
  text-align: center;
}
.day {
  margin-bottom: 10px;
}
.weather-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  height: auto;
  max-width: 100%;
}
.current-city {
  padding-top: 12px;
}
.city-input {
  margin-right: 5px;
}

.measurement {
  text-decoration: none;
  color: #7c7a7a;
  font-size: 1rem;
}

.small-text {
  color: #7c7a7a;
}

.units {
  position: relative;
  top: -15px;
}

.current {
  position: relative;
  top: -8px;
}

.current-city-button {
  font-size: 3.5vmin;
  font-weight: bolder;
}
